* {
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
  font-size: 50px;
}

ul,
li,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
label,
dl,
dt,
dd,
header,
footer,
nav,
section,
aside,
dialog,
figure,
figcaption,
hgroup,
article {
  display: block;
}

ul {
  list-style: none
}

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  content: '.';
  visibility: hidden;
}
img{
  width: 100%;
}
.ellipsis {
  white-space: nowrap;
  /*空白不换行*/
  overflow: hidden;
  /*溢出隐藏*/
  text-overflow: ellipsis;
  /*显示省略号*/
}

a {
  text-decoration: none;
}

body {
  font-family: "Hiragino Sans GB", "Hiragino Sans GBW3", "Microsoft Yahei", STHeiti, SimSun, helvetica, arial, sans-serif;
}
